We are some common modules used in machine learning for importing/modifying data as well as visualizing data.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import dask.dataframe as dd

We are using the pandas module to create a dataframe using the encoded_df_blanks_as_na.csv file for our features dataframe. features_df contains the independent variables used to train our machine learning model. These are the characterisitcs of the data that our model will analyze to make predictions.

In [2]:
'''
- A one-hot encoded matrix of features, with 11599 person names (nam_id_XXXX)
    and 4784 place names (geo_id_XXXX) as columns.
- The first column contains unique text_id corresponding to individual texts.
'''
features_df = pd.read_csv('encoded_df_blanks_as_na.csv')

We are using the pandas module to create a dataframe using the 20240103_texts_with_dates.csv file for our labels dataframe. We then preview the dataframe. labels_df contains the dependent variables (target values) our model is trying to predict. These are the outputs corresponding to observations in the features_df. y1 and y1 willl serve as the ground truth our model learns to predict.

In [3]:
'''
- text_id: same as the text id in the features dataset
- y1: The earliest possible date the text was written.
- y2: The latest possible date the text was written.
- If y1 and y2 are equal, the date of writing is known with certainty.
'''

labels_df = pd.read_csv('20240103_texts_with_dates.csv')

labels_df

,tex_id,geotex_id,written,found,geo_id,language_text,material_text,y1,y2,remark,Unnamed: 10,Unnamed: 11
0,12042,8388,1,1,1008,Greek,papyrus,117.0,118.0,NaN,NaN,- y1 = earliest possible year of writing
1,12054,8391,1,1,1008,Greek,papyrus,119.0,119.0,NaN,NaN,- y2 = latest possible year of writing
2,12063,8393,1,1,1008,Greek,papyrus,96.0,98.0,NaN,NaN,"[if y1 = y2, then we are certain of the date]"
3,12064,8394,1,1,1008,Greek,papyrus,131.0,131.0,NaN,NaN,NaN
4,17239,9507,0,1,1008,Greek,papyrus,108.0,108.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
29245,967240,1021239,1,0,332,Greek,papyrus,-263.0,-229.0,NaN,NaN,NaN
29246,5910,5438,1,1,1344,Greek,papyrus,-148.0,-148.0,NaN,NaN,NaN
29247,3506,4066,1,1,1344,Demotic / Greek,papyrus,-150.0,-150.0,NaN,NaN,NaN
29248,7491,6778,0,1,720,Demotic / Greek,papyrus,-236.0,-236.0,new,NaN,NaN
29249,7491,77875,1,0,1780,Demotic / Greek,papyrus,-236.0,-236.0,new,NaN,NaN

**One Hot Encoding**

Looking at the features file, it is one-hot encoded. One-hot encoding is a method used to represent categorical data as binary values. It is commonly used to convert non-numerical data into a format that algorithms can process effectively as well as avoiding implicit ordinal relationships. It works by identifying all unique categories and creating binary columns for all of them. We assign 1 to the column corresponding to the presence of that data and 0 for all other related columns.

This file was not fully one-hot encoded at first. It had a 1 for all values, but a NULL for the absence of features. All NULL values should be filled with a 0 to represent the absence of that feature and clean the data more.

After filling all NaN columns, we preview the first 5 columns of the features_df. We are setting the text_id as the index of the features_df because although it is a column, it is not actually a feature but rather a unique identifier for each row.

Lastly, we print information about the shape of the dataframe.

In [4]:
# Printing information about the features dataset
features_df = features_df.fillna(0)

print(features_df.sample(5).iloc[:, :10])

features_df.set_index('text_id', inplace=True)


print(f'Number of rows: {features_df.shape[0]}')
print(f'Number of columns: {features_df.shape[1]}')
print(labels_df['y1'].min())
print(labels_df['y2'].max())

       text_id  nam_id_1057.0  nam_id_19683.0  nam_id_356.0  nam_id_904.0  \
29976   851611            0.0             0.0           0.0           0.0
29141   220342            0.0             0.0           0.0           0.0
9013     15900            0.0             0.0           0.0           0.0
27334    91732            0.0             0.0           0.0           0.0
29792   765547            0.0             0.0           0.0           0.0

       nam_id_2227.0  nam_id_726.0  nam_id_761.0  nam_id_731.0  nam_id_1246.0
29976            0.0           0.0           0.0           0.0            0.0
29141            0.0           0.0           0.0           0.0            0.0
9013             0.0           0.0           0.0           0.0            0.0
27334            0.0           0.0           0.0           0.0            0.0
29792            0.0           0.0           0.0           0.0            0.0
Number of rows: 30324
Number of columns: 16383

**Data Preprocessing**

Data preprocessing is the stage in machine learning where raw data is cleaned and prepared for analysis or model training. Firstly, we cleaned the data by filling NULLS with 0's for one-hot encoding. Now, we are removing duplicate rows from features_df and labels_df to ensure the dataset is clean, consistent, and free from redundancy. Duplicates can influence bias which would negatively impact the performance of our model.

<font color='red'>Remove outliers?</font>

In [5]:
# Check for duplicates in the labels dataframe
print(f"Number of rows before removing duplicates: {features_df.shape[0]}")
print(f"Number of duplicate rows: {features_df.duplicated().sum()}")

# Remove duplicate rows
features_df = features_df.drop_duplicates()

# Verify duplicates are removed
print(f"Number of rows after removing duplicates: {features_df.shape[0]}")

Number of rows before removing duplicates: 30324
Number of duplicate rows: 1478
Number of rows after removing duplicates: 28846

In [6]:
# Check for duplicates in the labels dataframe
print(f"Number of rows before removing duplicates: {labels_df.shape[0]}")
print(f"Number of duplicate rows: {labels_df.duplicated().sum()}")

# Remove duplicate rows
labels_df = labels_df.drop_duplicates()

# Verify duplicates are removed
print(f"Number of rows after removing duplicates: {labels_df.shape[0]}")

Number of rows before removing duplicates: 29250
Number of duplicate rows: 2
Number of rows after removing duplicates: 29248

We are further preparing the data by removing features with low variance. Variance refers to how much the values in a feature vary. Features with very little variation don't provide value for prediction because there aren't enough differences in the data for the model to learn any patterns. By removing these low-variance features, we simplify the model, reduce overfitting, and improve computational efficiency.

The threshold we chose is arbitrary since it is a hyper parameter. We tuned our models by setting various thresholds and seeing which one resulted in the lowest MAE. A threshold of 0.001 produced our best result.

fit_transform calculates the variance of each feature in features_df and removes features whose variance is below our specified threshold.

Printing our original and reduced shape shows how we are able to reduce our dimensions by 15,038. There were diminishing returns with feature reduction. After a certain point, it was better to have more features. Originally, we reduced to 143 columns but 1345 performed better.

In [7]:
from sklearn.feature_selection import VarianceThreshold

# Remove low-variance features
selector = VarianceThreshold(threshold=0.001)  # Adjust threshold as needed
features_reduced_df = selector.fit_transform(features_df)

print(f"Original shape: {features_df.shape}")
print(f"Reduced shape: {features_reduced_df.shape}")

Original shape: (28846, 16383)
Reduced shape: (28846, 1345)

We decided to use Singular Value Decomposition (SVD) for dimensionality reduction because it is good at reducing the number of features in high-dimensional datasets and sparse matrixes in particular. Our data was an extremely sparse matrix. SVD reduces the number of features while retaining the most important information. We chose 1000 principal components to keep because it performed well after testing various values for this hyperparameter. The explained variance ratio shows that even after reducing our features by over 15000, we still manage to capture 95% of the variance in 1000 components.

<font color='red'>EXPLAIN SVD MORE</font>

**WHY SVD INSTEAD OF PCA?**

We chose SVD over PCA for several reasons such as nonlinear relationships, sparse matrixes, and large datasets. SVD is more flexible in handling non-linear relationships and can be used as a general-purpose dimensionality reduction technique. We were able to determine our data was non-linear by comparing the results of models based on linear and nonlinear approaches. Our nonlinear models outperformed our linear models by far. SVD is also useful when dealing with sparse data, which is the case for our data. SVD seemed like a better option due to the size of our dataset as well. PCA involves calculating a covariance matrix which would take longer than SVD to process.

In [8]:
from sklearn.decomposition import TruncatedSVD

svd = TruncatedSVD(n_components=1000, random_state=42)
# svd = TruncatedSVD(n_components=2000, random_state=42)
features_svd = svd.fit_transform(features_reduced_df)

print(f"Original shape: {features_reduced_df.shape}")
print(f"Reduced shape: {features_svd.shape}")

print(svd.explained_variance_ratio_)
print(sum(svd.explained_variance_ratio_))  # Total variance retained

Original shape: (28846, 1345)
Reduced shape: (28846, 1000)
[0.02962784 0.02500479 0.01815715 0.01565095 0.01279698 0.01168515
 0.01004947 0.00987946 0.00931344 0.00879833 0.00840652 0.00839601
 0.00809594 0.00763554 0.00718988 0.00665971 0.00635726 0.00601058
 0.00589252 0.00575561 0.00555587 0.00538438 0.00514929 0.00505432
 0.00497139 0.00482803 0.00466713 0.00462055 0.00449435 0.00450015
 0.00440983 0.00434999 0.00419037 0.00417054 0.00398282 0.00395789
 0.00388713 0.00385748 0.00381505 0.00375992 0.00364783 0.00358395
 0.00353121 0.00346126 0.00344036 0.00339893 0.00334313 0.00329448
 0.00327808 0.00323764 0.00320789 0.00318611 0.00315127 0.00310233
 0.00307426 0.00303943 0.00302351 0.00295952 0.00290862 0.00287503
 0.00286709 0.00282286 0.00280273 0.00276819 0.0027324  0.00270148
 0.00267772 0.00264733 0.00259831 0.00260706 0.00255261 0.00252425
 0.00250912 0.00249147 0.00248418 0.00243584 0.00241878 0.00241629
 0.0023637  0.00236463 0.00233179 0.00229635 0.00228166 0.00225857
 0.00224113 0.00223507 0.00221433 0.00216822 0.00216044 0.00214007
 0.0021378  0.00212099 0.00208709 0.00207497 0.00204668 0.00202634
 0.00200302 0.00199654 0.00198246 0.00195187 0.00194184 0.00193582
 0.00191782 0.00191005 0.00188926 0.00188412 0.00185195 0.0018437
 0.00182582 0.00181916 0.00180053 0.00178326 0.00177847 0.00176378
 0.00175679 0.00174502 0.001743   0.00172772 0.00171223 0.0017037
 0.00169173 0.00167589 0.00166211 0.00165484 0.00164778 0.00163779
 0.00163567 0.00161588 0.00161173 0.00160585 0.00158542 0.00157443
 0.00156666 0.00155057 0.00154559 0.00154159 0.00152186 0.00151723
 0.00151531 0.00150442 0.00150194 0.00148275 0.00147956 0.00147411
 0.00146562 0.00146156 0.00144689 0.00144006 0.00143127 0.00142173
 0.00141775 0.00140446 0.00140016 0.00138989 0.00138197 0.00137071
 0.00136443 0.00135231 0.00134061 0.00133727 0.00132714 0.00132262
 0.00131568 0.00131186 0.00130676 0.00129947 0.00129457 0.00129199
 0.00128523 0.00126934 0.00126305 0.00125654 0.00124983 0.00124684
 0.00124092 0.00123485 0.00123066 0.00122139 0.00121182 0.00120593
 0.00120524 0.00119915 0.0011903  0.001188   0.0011812  0.00117479
 0.0011642  0.00116151 0.00115514 0.00115141 0.00114309 0.00113945
 0.00113318 0.00112978 0.00112695 0.00111917 0.00111065 0.00110649
 0.00110064 0.00109866 0.00109367 0.00108941 0.00108616 0.00107959
 0.00107384 0.00107201 0.00106612 0.00106302 0.00105637 0.00104979
 0.00104409 0.00104029 0.00103716 0.0010303  0.00102824 0.0010206
 0.00101626 0.00101211 0.00101178 0.00100711 0.00099836 0.00099433
 0.00098945 0.00098651 0.00098289 0.00097967 0.00097859 0.00096931
 0.00096778 0.00096421 0.00095958 0.00095839 0.00095295 0.00095025
 0.00094696 0.00094517 0.00094064 0.00093261 0.00093119 0.00092933
 0.00092559 0.00092087 0.00092043 0.00091074 0.00090887 0.00090603
 0.00090186 0.00090043 0.00089549 0.00089265 0.00089108 0.00088713
 0.00088517 0.0008792  0.00087612 0.00087039 0.00086978 0.00086757
 0.00086477 0.00085736 0.00085721 0.00085465 0.00085238 0.00084742
 0.00084479 0.00083796 0.00083656 0.00083485 0.00083159 0.00082867
 0.00082658 0.00082545 0.00082154 0.00081836 0.00081752 0.00081339
 0.00080909 0.00080777 0.00080545 0.00079925 0.00079555 0.00079343
 0.00078982 0.00078938 0.00078853 0.00078228 0.00078108 0.00077864
 0.00077319 0.00077183 0.00076927 0.00076499 0.000761   0.00075921
 0.00075564 0.00075307 0.00074955 0.00074666 0.00074549 0.00074283
 0.00073908 0.00073728 0.00073256 0.00073199 0.00072878 0.00072685
 0.00072405 0.00071763 0.00071669 0.00071483 0.00071161 0.00071127
 0.00070813 0.0007063  0.00070446 0.00070292 0.00069969 0.00069532
 0.00069378 0.0006884  0.0006857  0.00068546 0.00068178 0.00068125
 0.00067995 0.0006772  0.00067479 0.00067264 0.00066831 0.000666
 0.00066433 0.00066306 0.00066088 0.0006598  0.00065859 0.0006568
 0.00065581 0.00065382 0.00064902 0.00064732 0.00064615 0.00064333
 0.00064197 0.00063897 0.00063729 0.00063551 0.00063468 0.00063295
 0.00063184 0.00063118 0.00062873 0.00062643 0.00062495 0.0006231
 0.00062151 0.00062043 0.00061989 0.00061801 0.00061699 0.00061498
 0.00061019 0.00060773 0.00060545 0.00060482 0.00060333 0.00060024
 0.00059884 0.00059703 0.00059545 0.00059485 0.0005922  0.00059049
 0.00059006 0.00058825 0.00058687 0.00058544 0.00058402 0.00058138
 0.00057967 0.00057895 0.00057677 0.00057435 0.00057342 0.00057149
 0.00057023 0.00056925 0.00056735 0.00056469 0.00056449 0.00056315
 0.00056219 0.00055968 0.00055838 0.00055756 0.00055683 0.00055468
 0.00055294 0.00055254 0.00055049 0.00054961 0.0005484  0.00054601
 0.00054561 0.00054289 0.00054112 0.00054022 0.00053836 0.00053683
 0.00053639 0.00053572 0.0005344  0.00053289 0.00053123 0.0005306
 0.00052771 0.00052634 0.00052531 0.00052375 0.00052231 0.00052051
 0.000519   0.00051754 0.00051607 0.00051489 0.00051435 0.00051308
 0.00051227 0.00051077 0.00050909 0.00050792 0.00050675 0.0005062
 0.00050476 0.00050418 0.00050228 0.00050155 0.00049852 0.00049755
 0.00049592 0.00049541 0.00049401 0.00049378 0.00049233 0.00049015
 0.00048921 0.00048841 0.00048745 0.00048494 0.00048501 0.00048379
 0.00048255 0.00048149 0.0004806  0.00047851 0.00047741 0.00047629
 0.00047556 0.00047536 0.00047318 0.000472   0.00047172 0.00046998
 0.00046853 0.00046734 0.00046724 0.00046603 0.00046373 0.00046329
 0.00046211 0.00046149 0.0004609  0.00045834 0.00045765 0.00045624
 0.00045482 0.00045374 0.0004525  0.00045158 0.00045052 0.00044975
 0.00044814 0.0004469  0.00044649 0.00044545 0.00044467 0.00044399
 0.00044365 0.0004413  0.00043997 0.00043918 0.00043788 0.00043625
 0.00043567 0.00043376 0.00043283 0.00043177 0.00043151 0.00043128
 0.00042996 0.00042901 0.00042779 0.00042632 0.00042602 0.00042442
 0.00042341 0.0004231  0.00042183 0.00042068 0.00042014 0.00041887
 0.0004179  0.00041698 0.00041622 0.00041563 0.00041475 0.00041294
 0.00041293 0.00041135 0.00041097 0.00040962 0.000409   0.00040826
 0.00040681 0.00040587 0.00040547 0.00040517 0.00040359 0.00040265
 0.00040227 0.00040145 0.00040072 0.00040033 0.00039987 0.00039794
 0.0003976  0.00039678 0.00039568 0.00039515 0.00039348 0.00039221
 0.00039119 0.00039053 0.0003898  0.00038944 0.00038845 0.00038768
 0.00038712 0.0003864  0.00038533 0.0003849  0.00038326 0.00038237
 0.00038129 0.00038065 0.00038061 0.00037865 0.00037828 0.00037761
 0.00037731 0.00037576 0.00037547 0.00037469 0.00037392 0.00037306
 0.00037172 0.00037119 0.00037059 0.00036873 0.00036834 0.00036774
 0.00036743 0.00036663 0.00036525 0.000365   0.0003644  0.00036382
 0.00036266 0.00036193 0.00036149 0.000361   0.00035984 0.00035913
 0.00035862 0.00035782 0.00035671 0.00035591 0.00035495 0.00035463
 0.00035409 0.00035384 0.00035236 0.00035205 0.00035157 0.0003514
 0.00034937 0.0003488  0.00034866 0.00034796 0.00034751 0.00034658
 0.00034599 0.00034564 0.00034483 0.00034406 0.00034319 0.00034275
 0.00034183 0.00034103 0.00034073 0.00033951 0.00033913 0.0003386
 0.00033828 0.00033766 0.00033678 0.00033615 0.00033498 0.00033491
 0.00033401 0.00033361 0.00033275 0.00033239 0.00033189 0.00033113
 0.00033077 0.00033002 0.00032857 0.00032813 0.00032752 0.00032696
 0.00032671 0.00032638 0.00032533 0.00032447 0.00032414 0.00032373
 0.0003228  0.00032241 0.00032204 0.00032079 0.00032071 0.00031972
 0.00031911 0.00031856 0.00031803 0.00031724 0.00031651 0.00031596
 0.00031556 0.00031476 0.00031432 0.00031411 0.00031347 0.00031289
 0.00031241 0.00031153 0.00031122 0.00031084 0.00031037 0.00030962
 0.00030917 0.00030886 0.00030803 0.00030764 0.0003063  0.00030614
 0.00030595 0.00030538 0.00030372 0.00030335 0.0003029  0.00030278
 0.00030219 0.00030166 0.00030078 0.00029995 0.00029943 0.00029925
 0.00029884 0.00029837 0.00029743 0.00029719 0.0002969  0.00029617
 0.00029528 0.00029439 0.00029385 0.00029357 0.00029317 0.00029278
 0.00029253 0.00029159 0.00029116 0.0002909  0.00029062 0.00028964
 0.000289   0.00028845 0.00028816 0.00028789 0.00028695 0.00028674
 0.00028636 0.00028559 0.00028461 0.00028435 0.00028374 0.00028341
 0.00028291 0.00028263 0.00028219 0.00028142 0.00028136 0.00028063
 0.00028027 0.00027988 0.0002792  0.00027846 0.0002782  0.00027711
 0.00027677 0.0002759  0.00027539 0.00027488 0.0002747  0.00027442
 0.00027406 0.00027336 0.0002729  0.00027212 0.00027169 0.00027114
 0.0002711  0.00027031 0.00027003 0.00026959 0.0002685  0.00026814
 0.00026782 0.00026732 0.00026692 0.00026664 0.00026618 0.00026586
 0.00026484 0.00026482 0.00026429 0.00026389 0.0002636  0.00026339
 0.00026309 0.00026215 0.00026178 0.00026157 0.0002607  0.00026034
 0.00026009 0.00025922 0.00025877 0.00025849 0.00025797 0.00025779
 0.00025732 0.00025673 0.00025635 0.00025552 0.00025496 0.00025469
 0.00025396 0.00025382 0.0002533  0.00025293 0.00025237 0.00025197
 0.00025195 0.00025146 0.00025127 0.00025013 0.00025009 0.00024976
 0.00024919 0.00024888 0.00024854 0.00024795 0.00024758 0.00024705
 0.00024687 0.0002466  0.00024607 0.00024534 0.00024514 0.00024484
 0.00024444 0.00024356 0.00024329 0.0002425  0.00024196 0.00024171
 0.00024166 0.0002411  0.00024068 0.00023999 0.00023949 0.00023943
 0.00023879 0.00023839 0.00023749 0.00023724 0.00023708 0.0002368
 0.00023633 0.00023562 0.00023496 0.00023509 0.00023447 0.00023393
 0.00023359 0.00023329 0.0002328  0.00023243 0.00023222 0.00023112
 0.00023075 0.00023058 0.00023039 0.00022979 0.00022956 0.00022925
 0.00022838 0.00022803 0.00022783 0.00022763 0.0002276  0.00022674
 0.00022625 0.00022601 0.00022576 0.00022554 0.00022478 0.00022415
 0.000224   0.00022392 0.00022342 0.0002233  0.00022261 0.00022229
 0.00022169 0.00022114 0.00022065 0.00022057 0.00022005 0.00021951
 0.00021953 0.00021848 0.00021842 0.00021811 0.00021785 0.00021723
 0.0002167  0.00021649 0.0002163  0.0002159  0.00021531 0.00021472
 0.00021465 0.00021425 0.00021367 0.00021343 0.00021282 0.00021259
 0.00021234 0.00021222 0.00021185 0.00021143 0.00021044 0.00021025
 0.00020984 0.00020972 0.00020929 0.00020922 0.00020878 0.0002082
 0.00020802 0.00020746 0.00020721 0.00020653 0.00020634 0.00020582
 0.00020561 0.00020523 0.00020449 0.000204   0.00020378 0.00020344
 0.00020337 0.00020316 0.00020295 0.00020217 0.00020203 0.00020152
 0.00020094 0.00020067 0.00019979 0.00019986 0.00019948 0.00019936
 0.00019896 0.0001984  0.00019824 0.00019814 0.00019792 0.00019715
 0.000197   0.00019654 0.00019607 0.00019553 0.00019471 0.00019486
 0.00019419 0.00019404 0.0001936  0.00019286 0.00019257 0.00019231
 0.00019198 0.00019193 0.00019135 0.00019123 0.00019106 0.00019061
 0.00019029 0.00018998 0.00018986 0.00018946 0.00018898 0.00018879
 0.000188   0.00018763 0.00018699 0.0001864  0.00018583 0.00018559
 0.00018549 0.00018477 0.00018478 0.00018437 0.00018399 0.00018395
 0.00018362 0.00018331 0.00018283 0.00018256 0.00018241 0.00018189
 0.00018181 0.0001813  0.00018072 0.0001801  0.00017934 0.00017936
 0.00017876 0.00017832 0.00017819 0.00017784 0.00017712 0.00017697
 0.0001765  0.00017559 0.00017527 0.00017495 0.00017449 0.00017423
 0.00017426 0.00017368 0.00017281 0.00017223 0.00017161 0.00017146
 0.00017088 0.00017093 0.00016981 0.00016909 0.00016936 0.00016881
 0.00016812 0.00016749 0.00016754 0.00016678 0.00016636 0.00016634
 0.00016614 0.00016551 0.00016519 0.00016427 0.00016383 0.00016269
 0.00016261 0.0001622  0.00016202 0.00016076]
0.9536659040503459

The following cell converts our features_svd array back into a dataframe features_svd_df.

In [9]:
# Assuming reduced_features is your NumPy array from SVD or Variance Thresholding
# features_df['text_id'] contains the IDs you need to reattach
features_df.reset_index(inplace=True)
features_svd_df = pd.DataFrame(features_svd, columns=[f'feature_{i}' for i in range(features_svd.shape[1])])
features_svd_df['text_id'] = features_df['text_id'].values

This is one of the most important cells because it prepares our training set. Our original label and features files have around 20k and 30k rows respectively. Not every row of data in the features dataset has a corresponding row of data in the labels dataset and vice versa. In order to train our model, we need to give it data that it already knows the answers for - the ground truths. This is the metric we will compare our predictions against to guage the performance of our models. Although we cleaned our data for duplicates before, we wanted to ensure the data was thoroughly prepared as we inch closer to training our model.

After removing duplicates and data that didn't appear in both the label and features datasets, we were left with 8565 datapoints with corresponding labels. This is the data we use to train our model.

In [10]:
# Get text_ids in each dataset
features_text_ids = set(features_svd_df['text_id'])
labels_text_ids = set(labels_df['tex_id'])

# Find unmatched text_ids
missing_in_labels = features_text_ids - labels_text_ids
missing_in_features = labels_text_ids - features_text_ids

print(f"Text IDs missing in labels: {len(missing_in_labels)}")
print(f"Text IDs missing in features: {len(missing_in_features)}")

# Keep only common text_ids
common_text_ids = features_text_ids & labels_text_ids

# Filter features and labels datasets
features_common_df = features_svd_df[features_svd_df['text_id'].isin(common_text_ids)]
labels_common_df = labels_df[labels_df['tex_id'].isin(common_text_ids)]

# Check the updated shapes
print(f"Updated features shape: {features_common_df.shape}")
print(f"Updated labels shape: {labels_common_df.shape}")

# Check for duplicated rows
duplicate_rows = features_common_df.duplicated()

# Check for duplicated text_ids
duplicate_text_ids = features_common_df['text_id'].duplicated()

print(f"Total duplicate rows: {duplicate_rows.sum()}")
print(f"Total duplicate text_ids: {duplicate_text_ids.sum()}")

# Check for duplicate rows
duplicate_label_rows = labels_common_df.duplicated()

# Check for duplicate text_ids
duplicate_label_text_ids = labels_common_df['tex_id'].duplicated()

print(f"Total duplicate rows: {duplicate_label_rows.sum()}")
print(f"Total duplicate text_ids: {duplicate_label_text_ids.sum()}")

# Drop duplicate text_ids, keeping the first occurrence
features = features_common_df.drop_duplicates(subset='text_id', keep='first')

# Drop duplicate text_ids, keeping the first occurrence
labels = labels_common_df.drop_duplicates(subset='tex_id', keep='first')


# Ensure alignment of text_ids between features and labels
common_text_ids = set(features['text_id']) & set(labels['tex_id'])

# Filter again if necessary
features_filtered_df = features[features['text_id'].isin(common_text_ids)]
labels_filtered_df = labels[labels['tex_id'].isin(common_text_ids)]

print(f"Aligned features shape: {features_filtered_df.shape}")
print(f"Aligned labels shape: {labels_filtered_df.shape}")

Text IDs missing in labels: 20281
Text IDs missing in features: 12381
Updated features shape: (8565, 1001)
Updated labels shape: (13013, 12)
Total duplicate rows: 0
Total duplicate text_ids: 0
Total duplicate rows: 0
Total duplicate text_ids: 4448
Aligned features shape: (8565, 1001)
Aligned labels shape: (8565, 12)

We set the index of our dataframes to the text_ids since are not considered features, but rather unique identifiers of each datapoint.

In [11]:
features_filtered_df.set_index('text_id', inplace=True)

labels_filtered_df.rename(columns={'tex_id': 'text_id'}, inplace=True)
labels_filtered_df.set_index('text_id', inplace=True)

Since our task involves predicting the year a text was written, retaining the other ground truth labels was unnecessary. Removing them avoids confusion and ensures our process is focused solely on the data relevant to our task.

<font color="red"> Should we convert the other labels into features before dimension reduction?</font>

In [12]:
labels_final_df = labels_filtered_df[['y1','y2']]
labels_final_df

            y1     y2
text_id
12042    117.0  118.0
12054    119.0  119.0
12063     96.0   98.0
12064    131.0  131.0
17239    108.0  108.0
...        ...    ...
703104  -250.0 -175.0
703317  -263.0 -229.0
5910    -148.0 -148.0
3506    -150.0 -150.0
7491    -236.0 -236.0

[8565 rows x 2 columns]

Although this step is redundant, we wanted to ensure all of our datapoints were merged with a corresponding label via an inner join. This could be skipped altogether since we are separating the y label from the X features when training our model, but having it as one dataframe in the beginning aligned with our approaches throughout the course.

<font color="red">Can we replace the cell above where we filter for records in both features_df and labels_df by only using this method?</font>

In [14]:
# Merge on text_id
merged_df = features_filtered_df.merge(labels_final_df, on='text_id', how='inner')

merged_df.shape

(8565, 1002)

<h1>Classification or Regression?</h1>

Here we are creating two variables that indicate how many rows exist where y1=y2 and y1!=y2 and displaying those results.

Since we have more rows where an exact year is known (5,239) we believe regression was the better approach because predicting an exact year (a continuous variable) aligns with the strengths of regression.

If we had more cases where y1!=y2, then there would be more uncertainty about the exact date of our texts, justifying the use of a classifcation model where we simplify the task by binning the ranges into predifined categories (100-199AD, 200-299AD).

Based on the context of our training data, we believed regression was the better approach because the majority of our ground truths were a single continous year vs a range of years.

<b>We chose Regression</b>

<font color="red"> Should we create classification models anyway for comparison?</font>

<font color="red">Should we combine classifcation and regression models into one model?
ex. classifcation followed by regression
ex. regression followed by classification
ex. multi-output neural network</font>

In [15]:
equal_rows = merged_df[merged_df['y1'] == merged_df['y2']].shape[0]
unequal_rows = merged_df[merged_df['y1'] != merged_df['y2']].shape[0]

print(f"Number of rows where y1 = y2: {equal_rows}")
print(f"Number of rows where y1 != y2: {unequal_rows}")

Number of rows where y1 = y2: 5239
Number of rows where y1 != y2: 3326

Since we chose regression, we created a target column that handles both cases when y1 equals y2 (continuous) and when y1 didn't equal y2 (range of years).

y_target simply became y1 if they were equal
y_target took the midpoint of y1 and y2 if they weren't equal. The midpoint serves as a reasonable estimate for a range when an exact year isn't available.

In [16]:
merged_df['y_target'] = merged_df.apply(lambda row: row['y1'] if row['y1'] == row['y2'] else (row['y1'] + row['y2']) / 2, axis=1)

merged_df

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_993,feature_994,feature_995,feature_996,feature_997,feature_998,feature_999,y1,y2,y_target
text_id,,,,,,,,,,,,,,,,,,,,,
1,0.404936,-0.332399,0.569584,0.244467,0.118471,-0.012269,0.153942,0.019276,0.003331,0.233105,...,0.006794,0.075361,-0.012450,0.011055,0.047048,-0.014151,-0.024547,-124.0,-124.0,-124.0
2,1.194844,-0.455850,0.790932,-0.084557,0.912922,0.938616,0.366342,-0.087693,-0.983342,-0.075471,...,0.029750,-0.032232,0.014291,-0.030107,-0.024161,-0.011760,0.020541,-112.0,-112.0,-112.0
3,0.669130,-0.418529,0.354021,0.003984,0.230967,0.093175,-0.131145,-0.388602,0.684473,0.321883,...,0.022786,-0.009252,0.038818,-0.002101,0.028129,-0.016734,0.019266,-109.0,-109.0,-109.0
4,1.226901,-0.607306,0.716642,-0.143475,0.932176,0.681385,0.182460,0.103260,-0.469498,-0.267133,...,-0.035404,-0.097845,0.001688,0.080584,0.043998,0.040462,0.092145,-108.0,-108.0,-108.0
5,0.403593,-0.306048,0.475889,0.177825,0.139036,-0.021976,0.124563,0.050058,-0.034562,0.217894,...,0.002199,-0.002162,0.007168,0.001697,-0.003452,-0.001445,0.011756,-106.0,-106.0,-106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981643,0.008250,0.016243,0.018408,0.012553,-0.044002,0.041111,0.018783,0.001615,0.011903,0.007014,...,-0.002129,-0.002368,0.003550,0.002539,0.004470,-0.000576,0.000890,548.0,548.0,548.0
981644,0.222981,0.390343,0.176930,-0.095436,-0.083316,0.120702,0.464449,0.153280,0.487788,-0.111622,...,-0.000316,0.002716,0.007476,0.001311,0.000043,0.009732,-0.003175,553.0,553.0,553.0
981646,0.019691,0.037447,0.039414,0.022553,-0.083950,0.074489,0.025522,0.007548,0.021971,0.009494,...,0.000879,0.002465,0.000985,0.000319,0.000345,-0.001285,0.004310,549.0,549.0,549.0
981648,0.072397,0.109943,0.118935,0.083189,-0.261060,0.207830,0.096346,0.025396,0.049978,0.062749,...,-0.005298,0.002257,0.007938,-0.000986,0.003599,0.002233,0.001810,500.0,599.0,549.5
981666,0.325492,-0.261670,0.346592,0.218479,-0.000641,-0.137728,0.036744,0.155500,0.076177,0.163047,...,0.014535,0.005975,-0.001595,0.008034,-0.005991,0.010769,-0.002167,133.0,133.0,133.0

After creating our new ground truth y_target, we no longer needed the labels y1 and y2.

In [17]:
merged_df = merged_df.drop(columns=['y1','y2'])
merged_df

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_991,feature_992,feature_993,feature_994,feature_995,feature_996,feature_997,feature_998,feature_999,y_target
text_id,,,,,,,,,,,,,,,,,,,,,
1,0.404936,-0.332399,0.569584,0.244467,0.118471,-0.012269,0.153942,0.019276,0.003331,0.233105,...,-0.036339,0.028035,0.006794,0.075361,-0.012450,0.011055,0.047048,-0.014151,-0.024547,-124.0
2,1.194844,-0.455850,0.790932,-0.084557,0.912922,0.938616,0.366342,-0.087693,-0.983342,-0.075471,...,0.025149,-0.023396,0.029750,-0.032232,0.014291,-0.030107,-0.024161,-0.011760,0.020541,-112.0
3,0.669130,-0.418529,0.354021,0.003984,0.230967,0.093175,-0.131145,-0.388602,0.684473,0.321883,...,0.015310,0.003670,0.022786,-0.009252,0.038818,-0.002101,0.028129,-0.016734,0.019266,-109.0
4,1.226901,-0.607306,0.716642,-0.143475,0.932176,0.681385,0.182460,0.103260,-0.469498,-0.267133,...,0.063221,0.044466,-0.035404,-0.097845,0.001688,0.080584,0.043998,0.040462,0.092145,-108.0
5,0.403593,-0.306048,0.475889,0.177825,0.139036,-0.021976,0.124563,0.050058,-0.034562,0.217894,...,0.005871,-0.008616,0.002199,-0.002162,0.007168,0.001697,-0.003452,-0.001445,0.011756,-106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981643,0.008250,0.016243,0.018408,0.012553,-0.044002,0.041111,0.018783,0.001615,0.011903,0.007014,...,0.005598,-0.002627,-0.002129,-0.002368,0.003550,0.002539,0.004470,-0.000576,0.000890,548.0
981644,0.222981,0.390343,0.176930,-0.095436,-0.083316,0.120702,0.464449,0.153280,0.487788,-0.111622,...,-0.002949,-0.002140,-0.000316,0.002716,0.007476,0.001311,0.000043,0.009732,-0.003175,553.0
981646,0.019691,0.037447,0.039414,0.022553,-0.083950,0.074489,0.025522,0.007548,0.021971,0.009494,...,0.001661,0.002340,0.000879,0.002465,0.000985,0.000319,0.000345,-0.001285,0.004310,549.0
981648,0.072397,0.109943,0.118935,0.083189,-0.261060,0.207830,0.096346,0.025396,0.049978,0.062749,...,-0.001269,0.001269,-0.005298,0.002257,0.007938,-0.000986,0.003599,0.002233,0.001810,549.5
981666,0.325492,-0.261670,0.346592,0.218479,-0.000641,-0.137728,0.036744,0.155500,0.076177,0.163047,...,0.005230,-0.001312,0.014535,0.005975,-0.001595,0.008034,-0.005991,0.010769,-0.002167,133.0

<h1>TRAINING & COMPARING OUR MODELS</h1>

This code splits our dataset into training and testing subsets to prepare it for our machine learning algorithms.

X contains all of our features
y contains our label

We are then splitting the data into training and testing subsets, using 20% of the data for testing and 80% for training. We set random_sate =42 for reproducibility.

The purpose of splitting our data is to evaluate how well the model generalizes to unseen data. Our training sets are used to train the model while the testing set is used afterward to assess the model's performance on data it hasn't seen during training.

We did not scale our data because the original data was one-hot encoded and reducced using Variance Thresholding and SVD. Variance Thresholding only removes features with low variance and doesn't change their scales. SVD produces principle components that are linear combinations of our original features, but SVD already scales them to optimize variance. The components were normalized internally in the decomposition process of the SVD class.

In [286]:
from sklearn.model_selection import train_test_split

# Split data into features (X) and target (y)
X = merged_df.drop(columns=['y_target'])
y = merged_df['y_target']

# Train-test split (80-20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

<h1>LINEAR OR NONLINEAR RELATIONSHIPS?</h1>
After training all of our models, it is apparent our the relationships in our data may be nonlinear.

Our Lasso and Ridge Regression lienar models performed significantly worse. These models assume that the relationship between the features and target is linear.

Our RandomForest and XGBoost ensemble nonlinear models performed far better. These models capture nonlinear relationships in the data. They work by splitting the features into smaller tress and makes decisions based on those trees.

<h1>LASSO</h1>

In [157]:
from sklearn.linear_model import LassoCV
from sklearn.metrics import mean_absolute_error

# Lasso with cross-validation
lasso = LassoCV(cv=5, random_state=42)
lasso.fit(X_train, y_train)

# Evaluate performance
print("Lasso - Best alpha:", lasso.alpha_)
print("Train MAE:", mean_absolute_error(y_train, lasso.predict(X_train)))
print("Test MAE:", mean_absolute_error(y_test, lasso.predict(X_test)))

lasso_features = pd.Series(lasso.coef_, index=X.columns)
print("Selected features by Lasso:")
print(lasso_features[lasso_features != 0])

Lasso - Best alpha: 0.11463516894989338
Train MAE: 142.75912648399776
Test MAE: 144.72150059681678
Selected features by Lasso:
feature_0       36.478300
feature_1      285.691928
feature_2       18.183640
feature_3       65.560417
feature_4     -126.042950
                  ...
feature_104    -25.799100
feature_105    -13.182620
feature_106    -19.839579
feature_108     37.442107
feature_109    -29.204855
Length: 100, dtype: float64

<h1>RIDGE</h1>

In [158]:
from sklearn.linear_model import RidgeCV
from sklearn.metrics import mean_absolute_error

# Ridge with cross-validation
ridge = RidgeCV(alphas=[0.1, 1.0, 10.0], cv=5)
ridge.fit(X_train, y_train)

# Evaluate performance
print("Ridge - Best alpha:", ridge.alpha_)
print("Train MAE:", mean_absolute_error(y_train, ridge.predict(X_train)))
print("Test MAE:", mean_absolute_error(y_test, ridge.predict(X_test)))

ridge_features = pd.Series(ridge.coef_, index=X.columns)
print("Ridge coefficients:")
print(ridge_features.sort_values(ascending=False).head(10))  # Top 10

Ridge - Best alpha: 10.0
Train MAE: 142.69147866233317
Test MAE: 144.62340916417358
Ridge coefficients:
feature_1      284.001682
feature_5      231.785481
feature_12     119.447728
feature_22     111.392607
feature_65      98.502349
feature_79      70.167565
feature_3       66.364979
feature_85      66.199689
feature_77      54.787702
feature_100     53.352236
dtype: float64

<h1>RANDOM FOREST</h1>

In [287]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Train Random Forest
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Evaluate performance
print("Random Forest - Train MAE:", mean_absolute_error(y_train, rf_model.predict(X_train)))
print("Random Forest - Test MAE:", mean_absolute_error(y_test, rf_model.predict(X_test)))

Random Forest - Train MAE: 30.740977718639943
Random Forest - Test MAE: 78.56731082965455

<h1>OPTIMIZING RANDOM FOREST</h1>

In [159]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

grid_search = GridSearchCV(RandomForestRegressor(random_state=42), param_grid, cv=5)
grid_search.fit(X_train, y_train)

print("Best Parameters:", grid_search.best_params_)
print("Best Random Forest Test MAE:", mean_absolute_error(y_test, grid_search.best_estimator_.predict(X_test)))

Best Parameters: {'max_depth': 20, 'min_samples_split': 5, 'n_estimators': 300}
Best Random Forest Test MAE: 92.32550495382549

In [264]:
# Train Random Forest
rf_model = RandomForestRegressor(max_depth=20, min_samples_split=5, n_estimators=300, random_state=42)
rf_model.fit(X_train, y_train)

# Evaluate performance
print("Random Forest - Train MAE:", mean_absolute_error(y_train, rf_model.predict(X_train)))
print("Random Forest - Test MAE:", mean_absolute_error(y_test, rf_model.predict(X_test)))

Random Forest - Train MAE: 59.81336336248054
Random Forest - Test MAE: 92.32550495382549

<h1>XGBOOST (EXTREME GRADIENT BOOSTING)</h1>

In [252]:
import xgboost as xgb
from sklearn.metrics import mean_absolute_error

# Initialize XGBRegressor
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.7, learning_rate = 0.031,
                          max_depth = 7, alpha = 25, n_estimators = 350)

# Train the model
xg_reg.fit(X_train, y_train)

# Predict on the test set
y_pred = xg_reg.predict(X_test)

# Calculate MAE
mae = mean_absolute_error(y_test, y_pred)
print(f"XGBoost MAE: {mae}")

XGBoost MAE: 89.78133348274217

In [219]:
from sklearn.metrics import mean_absolute_error, r2_score

# Calculate MAE and R-squared
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"XGBoost MAE: {mae}")
print(f"XGBoost R-squared: {r2}")

XGBoost MAE: 89.78133348274217
XGBoost R-squared: 0.7394333114829847

In [265]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Assuming 'merged_df' is your dataframe and it's already loaded.

# Step 1: Standardize the features
# Exclude the target variable if it's part of the dataframe
X = merged_df.drop(columns=['y_target'])  # Replace 'target_column' with the actual name of your target column
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Step 2: Apply PCA
# Define the number of components you want to keep. If unsure, start with the total number of features.
pca = PCA(n_components=0.85)  # This will keep enough components to explain 95% of the variance
X_pca = pca.fit_transform(X_scaled)

# Step 3: Convert the PCA results to a DataFrame (optional)
pca_df = pd.DataFrame(X_pca, columns=[f'PC{i+1}' for i in range(X_pca.shape[1])])

# Step 4: You can join the PCA results back with the target variable if needed.
merged_df_pca = pd.concat([pca_df, merged_df['y_target']], axis=1)

# Print the explained variance ratio (optional)
print("Explained variance ratio by each component:", pca.explained_variance_ratio_)

# Optionally, print the new dataframe with PCA components
print(merged_df_pca.head())

Explained variance ratio by each component: [0.02009968 0.01721329 0.01706886 0.01563002 0.01416983 0.01400168
 0.01363093 0.01350333 0.01342391 0.01325897 0.01304782 0.01291276
 0.01264846 0.01242928 0.01235066 0.01214336 0.01195931 0.01183328
 0.01158328 0.01138039 0.01135438 0.01128614 0.01111041 0.01109109
 0.01099495 0.01084793 0.01083958 0.01074549 0.0106687  0.01060011
 0.01043792 0.01039694 0.01035413 0.01031585 0.01006652 0.01002971
 0.00998617 0.00991306 0.00984947 0.00973248 0.00970367 0.00956474
 0.00952874 0.00945024 0.00941634 0.00928925 0.00926897 0.00921159
 0.00913221 0.00906736 0.00897531 0.00892098 0.00890046 0.00882999
 0.00881589 0.0087819  0.00862541 0.00861903 0.0085754  0.00854557
 0.0084766  0.00844001 0.0083891  0.00834661 0.00826329 0.00819992
 0.00811499 0.00807654 0.00804795 0.00801258 0.00794356 0.00783884
 0.00778971 0.00777591 0.00765647 0.00761074 0.00754618 0.00748518
 0.00738814 0.00727699 0.0071861  0.00712556 0.00709235 0.00704214]
        PC1       PC2       PC3       PC4       PC5       PC6       PC7  \
0 -0.820754  0.340402  4.654427 -2.438092  2.139213 -0.420409 -1.785240
1 -1.597292 -0.472658  4.712277 -4.848287  1.662482 -2.154621 -2.939657
2 -0.327313  0.068884  0.290807  0.518311  0.561232 -0.419608  0.113755
3 -1.506471 -0.775984  2.879149 -2.819396  1.895018 -0.104759 -3.335058
4 -0.913868 -0.079953  3.889464 -2.216912  2.673940 -1.975262 -3.891413

        PC8       PC9      PC10  ...      PC76      PC77      PC78      PC79  \
0  4.024922  2.999747 -0.421999  ... -1.159229  0.533207  0.191367 -0.245067
1  3.168307  2.000997 -0.683305  ... -2.170398  1.473903 -0.589178  0.282601
2  0.031049  0.362168  0.313422  ...  0.546230 -0.757509 -0.422710 -0.523487
3 -2.587006  1.864713  0.893686  ... -0.527491 -0.542564  0.086975  1.382881
4  2.869315  5.237813 -0.153925  ... -0.179359  0.468213 -0.281964 -0.161642

       PC80      PC81      PC82      PC83      PC84  y_target
0  1.082412 -0.235799 -0.883343 -0.091821 -0.903443       NaN
1  0.941697  0.452394  0.085303  0.692685  2.115440    -124.0
2 -0.392644 -0.098259  0.245250 -0.156389 -0.066764    -112.0
3  0.281376  0.452817 -2.667235 -0.472532 -0.427230    -109.0
4 -0.179456  0.334853 -0.562427  0.162160  0.255262    -108.0

[5 rows x 85 columns]

In [266]:
pca_df = pd.concat([pca_df, merged_df['y_target']], axis=1)

In [267]:
# Split data into features (X) and target (y)
X = merged_df.drop(columns=['y_target'])  # Replace with your feature dataframe
y = merged_df['y_target']  # Replace with your target column

# Train-test split (80-20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [268]:
# Initialize XGBRegressor
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.7, learning_rate = 0.031,
                          max_depth = 7, alpha = 25, n_estimators = 350)

# Train the model
xg_reg.fit(X_train, y_train)

# Predict on the test set
y_pred = xg_reg.predict(X_test)

# Calculate MAE
mae = mean_absolute_error(y_test, y_pred)
print(f"XGBoost MAE: {mae}")

XGBoost MAE: 89.78133348274217

In [289]:
# Initialize XGBRegressor
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.7, learning_rate = 0.031,
                          max_depth = 7, alpha = 25, n_estimators = 350)

# Train the model
xg_reg.fit(X_train, y_train)

# Predict on the test set
y_pred = xg_reg.predict(X_test)

# Calculate MAE
mae = mean_absolute_error(y_test, y_pred)
print(f"XGBoost MAE: {mae}")

r2 = r2_score(y_test, y_pred)
print(f"XGBoost MAE: {mae}")
print(f"XGBoost R-squared: {r2}")

XGBoost MAE: 71.1634089561213
XGBoost MAE: 71.1634089561213
XGBoost R-squared: 0.8406828639172944

In [ ]:
TRY USING LIGHTGBM GRADIENT BOOSTING

TRY SUPPORT VECTOR MACHINE